.slick-prev.slick-arrow {
  position: absolute;
  top: calc(50% - 20px);
  left: 15px;
  z-index: 1;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 1px solid #076BFF;
}

.slick-prev.slick-arrow svg {
  position: absolute;
  top: 8px;
  left: 6px;
}

.slick-next.slick-arrow {
  position: absolute;
  top: calc(50% - 20px);
  right: 15px;
  z-index: 1;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 1px solid #076BFF;
}

.slick-next.slick-arrow svg {
  position: absolute;
  top: 8px;
  left: 9px;
}

.ngb-faq-header {
  position: relative;
  cursor: pointer;
}

.ngb-faq-header::after {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("assets/images/arrow-bottom.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: 28px;
  top: calc(50% - 6px);
}

.ngb-faq-header.is-open::after {
  background-image: url("assets/images/arrow-top.svg");
}

.ngb-accordion .accordion-collapse {
  transition: height 250ms ease;
}

ngb-accordion .accordion-item {
  background: transparent !important;
  border: 0 !important;
}

ngb-accordion .accordion-header {
  margin: 0 !important;
}

ngb-accordion .accordion-button {
  background: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
  border: 0 !important;
}

ngb-accordion .accordion-button::after {
  display: none !important;
}

ngb-accordion .accordion-body {
  padding: 0 !important;
  border: 0 !important;
  background: transparent !important;
}

.faq-accordion {
  width: 1200px;
  max-width: 900px;
  margin: 0 auto;
}

.faq-header,
.faq-content {
  width: 950px;
}

.faq-header {
  font-size: 100%;
}

.faq-content {
  padding: 16px 35.2px;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
