.slick-prev.slick-arrow {
  position: absolute;
  top: calc(50% - 20px);
  left: 15px;
  z-index: 1;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 1px solid #076BFF;
}

.slick-prev.slick-arrow svg {
  position: absolute;
  top: 8px;
  left: 6px;
}

.slick-next.slick-arrow {
  position: absolute;
  top: calc(50% - 20px);
  right: 15px;
  z-index: 1;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 1px solid #076BFF;
}

.slick-next.slick-arrow svg {
  position: absolute;
  top: 8px;
  left: 9px;
}

.ui-accordion-header-icon.ui-icon.ui-icon-triangle-1-e {
  width: 20px;
  height: 20px;
  background-image: url("assets/images/arrow-bottom.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: 28px;
  top: calc(50% - 6px);
}

.ui-accordion-header-icon.ui-icon.ui-icon-triangle-1-s {
  width: 20px;
  height: 20px;
  background-image: url("assets/images/arrow-top.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: 28px;
  top: calc(50% - 6px);
}

.ui-accordion .ui-accordion-header {
  display: block;
  cursor: pointer;
  position: relative;
  margin: 2px 0 0 0;
  padding: .5em .5em .5em .7em;
  font-size: 100%;
}

.ui-accordion .ui-accordion-content {
  padding: 1em 2.2em;
  border-top: 0;
  overflow: auto;
}
